@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

.transform-style-3d {
  transform-style: preserve-3d;
}

.perspective-\[1000px\] {
  perspective: 1000px;
}

.perspective-\[1200px\] {
  perspective: 1200px;
}

.perspective-\[1500px\] {
  perspective: 1500px;
}
